{{#*inline "page"}}
<section id="{{post.title}}" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw8-l center f3">
    <header>
      <h2>{{ post.title }}</h2>
      <div class="highlight mt2 mb3"></div>
    </header>

    <div class="publish-date-author">{{month_name post.month}} {{post.day}}, {{post.year}} &nbsp;&middot;&nbsp; by <a target="_blank" href="{{post.author_url}}">{{post.author}}</a>
    {{#if post.has_team}} on behalf of <a target="_blank" href="{{post.team_url}}">{{post.team}}</a> {{/if}}
    </div>

    <div class="post">
      {{{ post.contents }}}
    </div>

    <div>
      <br />
      <hr>
      {{#if post.has_prev}} <a href="{{post.prev}}" style="float: left;"><< Previous Post</a>  {{/if}}
      {{#if post.has_next}} <a href="{{post.next}}" style="float: right;">Next Post >></a>  {{/if}}
    </div>
  </div>
</section>
{{/inline}}
{{~> (parent)~}}
